body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.chat-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
}
.chat-box {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}
.message {
    margin: 5px 0;
}
.user-message {
    color: blue;
}
.bot-message {
    color: green;
    font-family: monospace;
    white-space: pre; /* 保持空格和换行 */
}

#result {
    white-space: pre-wrap; /* 保持文本中的换行符 */
    word-wrap: break-word; /* 防止长单词溢出 */
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    height: 200px; /* 可根据需要调整高度 */
    overflow-y: auto; /* 启用垂直滚动条 */
}


@keyframes highlight {
    0% {
        background-color: #3bff50;
    }
    50% {
        background-color: #c2f3b8;
    }
    100% {
        background-color: #ffffff;
    }
}

.highlight-animation {
    animation: highlight 1s ease-out;
}

/* 为上传历史列表添加滚动条 */
#uploadHistory {
    max-height: 200px; /* 设置一个固定的高度 */
    overflow-y: auto;  /* 如果内容超出容器，显示纵向滚动条 */
    border: 1px solid #ddd; /* 添加边框让滚动区域更加明显 */
    padding: 10px;
    margin-top: 10px;
}

#uploadHistory::-webkit-scrollbar, .chat-box::-webkit-scrollbar {
    width: 8px;
}

#uploadHistory::-webkit-scrollbar-thumb, .chat-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

#uploadHistory::-webkit-scrollbar-track, .chat-box::-webkit-scrollbar-track {
    background: #f9f9f9;
}