body {
    font-family: Arial, sans-serif;
}
.chat-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
}
.chat-box {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}
.message {
    margin: 5px 0;
}
.user-message {
    color: blue;
}
.bot-message {
    color: green;
    font-family: monospace;
    white-space: pre; /* 保持空格和换行 */
}

#result {
    white-space: pre-wrap; /* 保持文本中的换行符 */
    word-wrap: break-word; /* 防止长单词溢出 */
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    height: 200px; /* 可根据需要调整高度 */
    overflow-y: auto; /* 启用垂直滚动条 */
}


@keyframes highlight {
    0% {
        background-color: #3bff50;
    }
    50% {
        background-color: #c2f3b8;
    }
    100% {
        background-color: #ffffff;
    }
}

.highlight-animation {
    animation: highlight 1s ease-out;
}

/* 为上传历史列表添加滚动条 */
#uploadHistory {
    max-height: 200px; /* 设置一个固定的高度 */
    overflow-y: auto;  /* 如果内容超出容器，显示纵向滚动条 */
    border: 1px solid #ddd; /* 添加边框让滚动区域更加明显 */
    padding: 10px;
    margin-top: 10px;
}

#uploadHistory::-webkit-scrollbar, .chat-box::-webkit-scrollbar {
    width: 8px;
}

#uploadHistory::-webkit-scrollbar-thumb, .chat-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

#uploadHistory::-webkit-scrollbar-track, .chat-box::-webkit-scrollbar-track {
    background: #f9f9f9;
}

.flashes {
    position: fixed; /* 使用固定定位 */
    top: 20px; /* 距离页面顶部20px */
    right: 20px; /* 距离页面右侧20px，你可以根据需要调整 */
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000; /* 确保flash消息在其他内容之上 */
    width: 300px; /* 设置一个宽度，或者根据需要使用auto */
}

.flashes li {
    background-color: #fff; /* 背景色，可以根据需要更改 */
    color: #000; /* 文字颜色 */
    border: 1px solid #ccc; /* 边框颜色 */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; /* 圆角 */
    opacity: 0; /* 初始透明度为0，用于淡入效果 */
    transform: translateY(20px); /* 初始位置稍微向下偏移，用于滑动效果 */
    animation: fadeInSlideDown 0.5s forwards ease-out; /* 应用淡入和滑动向下的动画 */
}

/* 定义淡入和滑动向下的动画 */
@keyframes fadeInSlideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 为不同类型的flash消息添加样式 */
.flashes li.success {
    border-color: #d4edda;
    background-color: #e2f0eb;
}

.flashes li.error {
    border-color: #f5c6cb;
    background-color: #f8d7da;
}

/* 添加一个隐藏flash消息的类 */
.hidden {
    display: none;
}