body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -14.3rem;
    transition: margin .25s ease-out;
    background-color: #343a40;
}

.submenu-indent {
    margin-left: 20px; /* 或者使用 padding-left，根据您的设计需求选择 */
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color: white;
}

#sidebar-wrapper .sidebar-bottom {
    position: fixed; /* 固定定位 */
    bottom: 0; /* 紧贴视口底部 */
    left: 0rem; /* 我们将使用left来定位它 */
    padding: 0.875rem 1.25rem;
    font-size: 0.9rem;
    margin: 0; /* 去除外部边距 */
    background-color: #343a40; /* 与侧边栏背景一致（可选） */
    color: white;
    z-index: 1000; /* 确保它位于其他内容之上（根据需要调整） */
}

#sidebar-wrapper .list-group {
    width: 14.3rem;
    background-color: #343a40; /* 深灰色背景 */
    --bs-list-group-bg: #343a40;
}

/* 默认列表项的样式 */
#sidebar-wrapper .list-group-item {
    color: white; /* 白色文字 */
    border: none; /* 去除默认的边框 */
    padding: 1rem; /* 增加内边距以提供更好的点击区域 */
    width: 14.3rem;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out; /* 添加过渡效果 */
}

/* 鼠标悬停时改变样式 */
#sidebar-wrapper .list-group-item:hover {
    background-color: #495057; /* 更深的灰色背景 */
    color: #00ffffcc; /* 稍微淡一点的白色文字，增加对比度 */
}

/* 选中项的样式（可以通过JavaScript动态添加.active类） */
#sidebar-wrapper .list-group-item.active {
    background-color: #007bff; /* 蓝色背景，表示选中 */
    color: black; /* 白色文字，确保可读性 */
    font-weight: bold; /* 加粗字体，使其更突出 */
}

#page-content-wrapper {
    min-width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper{
        margin-left: 0;
    }
    .sidebar-bottom {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-w-0: calc(100% - 14.3rem);
    }

    #wrapper.toggled #sidebar-wrapper{
        margin-left: -14.3rem;
    }

    #wrapper.toggled .sidebar-bottom{
        margin-left: -14.3rem;
    }

}

.clickable-square {
            cursor: pointer; /* 更改鼠标悬停时的光标样式 */
            width: 200px; /* 设置正方形宽度 */
            height: 200px; /* 设置正方形高度 */
            display: flex; /* 允许使用flex布局 */
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中 */
            border-radius: 15px; /* 设置圆角大小 */
        }