<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Text Extractor</title>
    <style>
        #result {
            white-space: pre-wrap; /* 保持文本中的换行符 */
            word-wrap: break-word; /* 防止长单词溢出 */
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 20px;
            height: 300px; /* 可根据需要调整高度 */
            overflow-y: auto; /* 启用垂直滚动条 */
        }
    </style>
</head>
<body>
    <h2>PDF Text Extractor</h2>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required>
        <button type="button" onclick="uploadFile()">上传并提取文本</button>
    </form>
    <div id="result"></div>
    <div id="keywords"></div>
    <script>
        function uploadFile() {
            var form = document.getElementById('uploadForm');
            var formData = new FormData(form);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.error) {
                    alert(data.error);
                    document.getElementById('result').innerText = '';
                } else {
                    document.getElementById('result').innerText = data.text;
                    document.getElementById('keywords').innerText = "关键字："+data.keywords;
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                alert('An error occurred while uploading the file.');
                document.getElementById('result').innerText = '';
            });
        }
    </script>
</body>
</html>